#blogtitle {
  font-family: 'Reenie Beanie';
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
}

#postdate {
  display: block;
}

#posttitle {
  display: block;
  margin: 0;
  font: normal normal 18px Nobile;
  color: #ffaa00;
}
