a:link {
  color: #ff9900;
	text-decoration: none;
}

a:visited {
  color: #dd7700;
	text-decoration: none;
}

html {
	min-height: 100%;
	height: 100%;
}

body {
  font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif;
  margin: 0px;
  background: #336699 url(/images/DSC_1416_lo.jpg) no-repeat fixed top center;
	min-height: 100%;
	height: 100%;
}

#bodywrapper {
  background: transparent url(/images/black50.png) repeat scroll top left;
  margin-left: auto;
  margin-right: auto;
  /* moved to @media section width: 80%; */
  padding-top: 25px;
  padding-left: 20px;
	padding-right: 20px;
}

#pageheader {
  padding-left: 10px;
  padding-bottom: 25px;
  display: block;
}

span#blogtitle, span#blogtitle a {
  font-family: 'Reenie Beanie', cursive;;
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  color: #ffffff;
}

#post {
	color: #ffffff;
	background: #000000;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
}

#postheader {
  margin-left: -10px;
}

.postdate, #postdate {
  display: block;
  font-size: 15px;
  font-family: Molengo, Helvetica, FreeSans, sans-serif;
  color: #cccccc;
}

.posttitle, #posttitle {
  display: block;
  margin: 0;
  font-size: 25px;
  font-family: Nobile, Helvetica, FreeSans, sans-serif;
  color: #ffaa00;
}

#postcontent {
  
}

#postfooter {
  padding-top: 10px;
  font-size: 0.8em;
}

#sharinglinks {
	padding-top: 5px;
}

.postnav {
	font-size: 20px;
	padding-bottom: 5px;
	height: 22px;
}

.postnav > div {
	width: 33%;
	float: left;
}

.postnav-previous {
	text-align: left;
}

.postnav-home {
	text-align: center;
}

.postnav-next {
	text-align: right;
}

.widget {
	color: #ffffff;
}

.widgettitle {
	font-size: 18px;
	padding-bottom: 5px;
	color: #cccccc;
}

#aboutme .profileimage {
	float: left;
	padding-right: 10px;
}

#aboutme .profilename {
	font-size: 20px;
	font-weight: bold;
}

#aboutme .profilelink {
	font-size: 14px;
}

#pagefooter {
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}

#pagefootercontent {
  text-align: center;
  color: #cccccc;
  font-size: 14px;
}

.post-author {
  display: block;
}

@media screen and (min-width:1100px) {
	#bodywrapper {
		width: 80%;
	}
	
	#post {
		margin-right: 265px;
	}
	
	#sidebar {
		float: right;
		width: 250px;
		padding-left: 15px;
	}
	
	#sidebar hr {
		clear: both;
	}
	
	body {
		background: #336699 url(/images/DSC_1416.jpg) no-repeat fixed top center;
	}
}

@media screen and (max-width: 1099px) {
	#bodywrapper {
		width: 94%;
	}
	
	#sidebar {
		display: none;
	}
	
	.highlight .lineno {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	body {
		background: #336699;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	#bodywrapper {
		width: 100%;
		padding-left: 0px;
	}
	
	#post {
		padding-left: 8px;
		padding-right: 8px;
	}
	
	#postheader {
		margin-left: 0px;
	}
}