a:link {
  color: #ff9900;
}

a:visited {
  color: #dd7700;
}

body {
  font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}

span#blogtitle {
  font-family: 'Reenie Beanie';
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
  text-decoration: none !important;
  color: #ffffff;
}

#post {
  color: #ffffff;
  background: #282828;
  padding-left: 20px;
  padding-right: 20px;
}

#postheader {
  margin-left: -10px;
}

#postdate {
  display: block;
  font: normal normal 15px Molengo;
  color: #cccccc;
}

#posttitle {
  display: block;
  margin: 0;
  font: normal normal 20px Nobile;
  color: #ffaa00;
}

#postcontent {
  
}
