code { font-family: Consolas, Courier New, Courier, monospace; }

.highlight  {
  background: #ffffff;
  overflow: auto;
  color: #000000;
}

.highlight pre {
  margin: 0;
}

.highlight .lineno {
  color: #ffffff;
  background: #606060;
  padding-left: 4px;
  padding-right: 5px;
  font-style: normal;
}

.psconsole {
	background-color: #012456;
	padding: 10px;
	font-family: Consolas, Courier New, Courier, monospace;
}

.psconsole-error {
	color: red;
	background: black;
}

.psconsole-warning {
	color: yellow;
	background: black;
}

.highlight .c { color: #006400; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2; font-style: normal; } /* Error */
.highlight .k { color: #00008b; font-weight: bold; font-style: normal; } /* Keyword */
.highlight .o { font-weight: bold; color: #000000; font-style: normal; } /* Operator */
.highlight .cm { color: #006400; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #006400; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd; font-style: normal; } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa font-style: normal; } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000; font-style: normal; } /* Generic.Error */
.highlight .gh { color: #999999; font-style: normal; } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd; font-style: normal; } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa; font-style: normal; } /* Generic.Inserted.Specific */
.highlight .go { color: #888888; font-style: normal; } /* Generic.Output */
.highlight .gp { color: #555555; font-style: normal; } /* Generic.Prompt */
.highlight .gs { font-weight: bold; font-style: normal; } /* Generic.Strong */
.highlight .gu { color: #aaaaaa; font-style: normal; } /* Generic.Subheading */
.highlight .gt { color: #aa0000; font-style: normal; } /* Generic.Traceback */
.highlight .kc { font-weight: bold; font-style: normal; } /* Keyword.Constant */
.highlight .kd { font-weight: bold; font-style: normal; } /* Keyword.Declaration */
.highlight .kp { font-weight: bold; font-style: normal; } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold; font-style: normal; } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold; font-style: normal; } /* Keyword.Type */
.highlight .m { color: #009999; font-style: normal; } /* Literal.Number */
.highlight .s { color: #d14; font-style: normal; } /* Literal.String */
.highlight .n { color: #8a2be2; font-style: normal; } /* Parameter (cd) */
.highlight .na { color: #008080; font-style: normal; } /* Name.Attribute */
.highlight .nb { color: #0000ff; font-style: normal; } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold; font-style: normal; } /* Name.Class */
.highlight .no { color: #000000; font-style: normal; } /* Name.Constant */
.highlight .ni { color: #800080; font-style: normal; } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold; font-style: normal; } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold; font-style: normal; } /* Name.Function */
.highlight .nn { color: #555555; font-style: normal; } /* Name.Namespace */
.highlight .nt { color: #000080; font-style: normal; } /* Name.Tag */
.highlight .nv { color: #ff4500; font-style: normal; } /* Name.Variable */
.highlight .ow { font-weight: bold; font-style: normal; } /* Operator.Word */
.highlight .p { color: #000000; font-style: normal; } /* assignment/accessor */
.highlight .w { color: #bbbbbb; font-style: normal; } /* Text.Whitespace */
.highlight .mf { color: #009999; font-style: normal; } /* Literal.Number.Float */
.highlight .mh { color: #009999; font-style: normal; } /* Literal.Number.Hex */
.highlight .mi { color: #009999; font-style: normal; } /* Literal.Number.Integer */
.highlight .mo { color: #009999; font-style: normal; } /* Literal.Number.Oct */
.highlight .sb { color: #d14; font-style: normal; } /* Literal.String.Backtick */
.highlight .sc { color: #d14; font-style: normal; } /* Literal.String.Char */
.highlight .sd { color: #d14; font-style: normal; } /* Literal.String.Doc */
.highlight .s2 { color: #8b0000; font-style: normal; } /* Literal.String.Double */
.highlight .se { color: #d14; font-style: normal; } /* Literal.String.Escape */
.highlight .sh { color: #d14; font-style: normal; } /* Literal.String.Heredoc */
.highlight .si { color: #d14; font-style: normal; } /* Literal.String.Interpol */
.highlight .sx { color: #d14; font-style: normal; } /* Literal.String.Other */
.highlight .sr { color: #009926; font-style: normal; } /* Literal.String.Regex */
.highlight .s1 { color: #d14; font-style: normal; } /* Literal.String.Single */
.highlight .ss { color: #990073; font-style: normal; } /* Literal.String.Symbol */
.highlight .bp { color: #999999; font-style: normal; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080; font-style: normal; } /* Name.Variable.Class */
.highlight .vg { color: #008080; font-style: normal; } /* Name.Variable.Global */
.highlight .vi { color: #008080; font-style: normal; } /* Name.Variable.Instance */
.highlight .il { color: #009999; font-style: normal; } /* Literal.Number.Integer.Long */
