&#169; 2013 Chris Duck - Powered by <a href="http://pages.github.com/">GitHub Pages</a><br />
<!-- Built at: {{ site.time }} -->
<!-- https://www.chrispoulter.com/blog/post/loading-gists-asynchronously -->
<script type="text/javascript">
$(function () {
	$("[data-gist]").each(function () {
		var $element = $(this);
		var id = $element.attr("data-gist");
		
		$element.html("<p>Loading Gist...</p>");
		
		$.ajax({
			url: "https://gist.github.com/" + id + ".json",
			dataType: "jsonp",
			cache: true,
			success: function (data) {
				if (data && data.div) {
					$element.html(data.div);
				}
			},
			error: function () {
				$element.html("<p>Gist Load Failed</p>");
			}
		});
	});
});
</script>

<script type="text/javascript">
$(function() {
	$("div.highlight > pre").each(function(i, e) {
		var code = $("code")[0];
		e.className += ' line-numbers' + ' ' + code.className;
		var lineCount = 1 + code.innerHTML.split("\n").length;
		
		var lines = new Array(lineCount);
		lines = lines.join("<span></span>");
		
		var lineNumbersWrapper = document.createElement("span");
		lineNumbersWrapper.className = 'line-numbers-rows';
		lineNumbersWrapper.innerHTML = lines;
		
		code.appendChild(lineNumbersWrapper);
		console.log("Adding line numbers");
	});
});
</script>