<title>{{ page.title }}</title>
<link href="{{ site.baseurl}}/css/syntax.css" rel="stylesheet" />
<link href="{{ site.baseurl}}/css/site.css" rel="stylesheet" />
<link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />
<link rel="alternate" type="application/rss+xml" href="http://feeds.whatsupduck.net/WhatsUpDuckBlog" />

<!-- disable autoscaling in mobile browsers -->
<meta name="viewport" content="initial-scale=1" />

<!-- Begin Google WebFont -->
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Reenie+Beanie::latin', 'Nobile::latin', 'Molengo::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>    
<!-- End Google WebFont -->

<!-- Begin Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30601172-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Google Analytics -->