<div id="postheader">
	<span id="posttitle">Posts tagged with "{{ include.param }}"</span>
</div>
<div id="postindex">
	{% for tag in site.tags %}
		{% assign tagname = tag | first %}
		{% if tagname == include.param %}
			{% assign taggedposts = tag | last %}
			{% for taggedpost in taggedposts %}
				<div class="postsummary">
					<span class="posttitle"><a href="{{ site.baseurl}}{{ taggedpost.url }}">{{ taggedpost.title }}</a></span>
					<span class="postdate">{{ taggedpost.date | date: "%B %e, %Y" }}</span>
					{% unless post.tags == empty %}
						<span class="posttags">Tags: {% for posttag in taggedpost.tags %}{{ posttag }}, {% endfor %}</span>
					{% endunless %}
				</div>
				{% unless forloop.last %}<hr />{% endunless %}
			{% endfor %}
		{% endif %}
	{% endfor %}
</div>