<div id="aboutme" class="widget">
	<div class="widgettitle">About Me</div>
	<div class="profileimage">
		<a href="https://plus.google.com/111921112014612222144/about" alt="View my profile"><img width="80" height="80" src="http://www.gravatar.com/avatar/0933d9fcce0fd5336e6714f3fca17080?s=80"/></a>
	</div>
	<div class="profilename">Chris Duck</div>
	<div class="profilelink">
		<a href="https://plus.google.com/111921112014612222144/about">View my profile</a>
	</div>
	<hr />
</div>

<div id="tagcloud" class="widget">
	<div class="widgettitle">Tag Cloud</div>
	<div class="tagcloud">
		{% for tag in site.tags %}  {% assign tagname = tag | first %}  {% assign tagweight = tag | last | size | times: 20 | divided_by: site.tags.size | plus: 10 %}
			<a href="{{ site.baseurl }}/tag/{{ tagname }}.html" style="font-size: {{ tagweight }}px;">{{ tagname }}</a>
		{% endfor %}
	</div>
	<hr />
</div>

<div id="twitter" class="widget">
<a width="250" class="twitter-timeline widgettitle" href="https://twitter.com/gpduck" data-widget-id="368259538220105728" data-link-color="#ff9900 data-chrome="transparent">Tweets by @gpduck</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>