<!DOCTYPE html>
<html>
	<head>
		<link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" />
		<link rel="openid2.local_id" href="https://plus.google.com/111921112014612222144" />
		{% include head.html %}
	</head>
	<body>
		<div id="bodywrapper">
			<div id="pageheader">
				<span id="blogtitle">What's Up Duck</span>
			</div>
			<div id="sidebar">
				{% include sidebar.html %}
			</div>
			<div id="post">
			{{ content }}
			</div>
			<div id="pagefooter">
				<div id="pagefootercontent">
					{% include footer.html %}
				</div>
			</div>
		</div>
	</body>
</html>
