<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link href="/css/syntax.css" rel="stylesheet" />
	</head>
	<body>
		<h1>What's Up Duck</h1>
		<div id="post">
			{{ page.date | date: "%A, %B %d, %Y" }}
			<h2>{{ page.title }}</h2>
			<div id="content">
				{{ content }}
			</div>
			<div id="postfooter">
				by <a href="{{ page.author.link }}">{{ page.author.name }}</a><br />
				{% unless page.tags == empty %}
					Tags: {% for tag in page.tags %}{{ tag }}, {% endfor %}
				{% endunless %}
			</div>
		</div>
		<div id="sidebar">
			
		</div>
		{% include footer.html %}
	</body>
</html>
