<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		<div id="bodywrapper">
			<div id="pageheader">
				<span id="blogtitle"><a href="/">What's Up Duck</a></span>
			</div>
			<div id="post">
				<div id="postheader">
					<span id="postdate">{{ page.date | date: "%A, %B %d, %Y" }}</span>
					<span id="posttitle">{{ page.title }}</span>
				</div>
				<div id="postcontent">
					{{ content }}
				</div>
				<div id="postfooter">
					<span class="post-author vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
						by <span class="fn">
							<a href="{{ page.author.link }}" itemprop="url" rel="author" title="author profile">
								<span itemprop="name">{{ page.author.name }}</span>
							</a>
						</span>
					</span>
					{% unless page.tags == empty %}
						Tags: {% for tag in page.tags %}{{ tag }}, {% endfor %}
					{% endunless %}
				</div>
			</div>
			<div id="sidebar">
				Sidebar Content
			</div>
			<div id="pagefooter">
				<div id="pagefootercontent">
					{% include footer.html %}
				</div>
			</div>
		</div>
	</body>
</html>
